freenode:
  server:
    host: irc.freenode.net
    port: 7000
    ssl:  true
    pass: ""
  
  user:
    nick: Shizuku
    user: Kirishima
    real: 霧島 雫
    pass: ""
    
  config:
    trigger: "."
  
  channels:
    - "#shizuku"
  
  modules:
    - ctcp
    - sample

rizon:
  server:
    host: irc.rizon.net
    port: 6667
    ssl:  false
    pass: ""
  
  user:
    nick: Shizuku
    user: Kirishima
    real: 霧島 雫
    pass: ""
  
  config:
    trigger: "!"
  
  channels:
    - "#shizuku"
  
  modules:
    - ctcp
    - sample
